<header>
    <div class="row clear">
        <div id="logo" class="fl">
            <span>
          <img src="../../assets/images/avatar.png" />
      </span>

        </div>
        <div class="menuSec fl">
            <menu>
                <nav>
                    <ul>
                        <li><a routerLink="/staff" routerLinkActive="active">Staff</a></li>
                        <li><a routerLink="/student" routerLinkActive="active">Student</a></li>
                        <li><a routerLink="/incharch" routerLinkActive="active">Incharch</a></li>
                        <li><a routerLink="/login" routerLinkActive="active" class='active'>Login</a></li>
                    </ul>
                </nav>
            </menu>
        </div>
    </div>
</header>