<mat-card>
    <mat-card-content>
    <h2>Basic Example</h2>
    <mat-list>
    <mat-list-item><mat-checkbox checked="true">Checkbox Checked</mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox>Checkbox UnChecked</mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox indeterminate="true">Checkbox Indeterminate
    </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox labelPosition="before">Checkbox Label before
    </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox disableRipple=true>Checkbox Ripple Disabled
    </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox disabled=true>Checkbox Disabled</mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox color="primary"checked=true>Checkbox Theme Primary
    </mat-checkbox>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><mat-checkbox color="warn"checked=true>Checkbox Theme Warn
    </mat-checkbox>
    </mat-list-item>
    </mat-list>
    </mat-card-content>
    </mat-card>